KENER_SECRET_KEY=some_secret_key_for_kener
REDIS_URL=redis://localhost:6379
ORIGIN=http://localhost:3000
SSO_ENABLED=false
SSO_PROVIDER_NAME=orange
SSO_CLIENT_ID=your-client-id
SSO_CLIENT_SECRET=your-client-secret
SSO_AUTHORIZATION_URL=https://accounts.google.com/o/oauth2/v2/auth
SSO_TOKEN_URL=https://oauth2.googleapis.com/token
SSO_USER_INFO_URL=https://www.googleapis.com/oauth2/v3/userinfo
SSO_SCOPE=openid email profile
SSO_EMAIL_FIELD=email
SSO_NAME_FIELD=name
SSO_AUTO_PROVISION=true
SSO_DEFAULT_ROLE=member
