.sidebar-item.active,
.sidebar-item:hover {
  color: #ed702d;
}

.w-585px {
  width: 585px;
}

main {
  scroll-behavior: smooth;
}
.kener-home-links a {
  text-decoration: none;
  background-color: var(--bg-background);
}
.kener-home-links > a:hover {
  transition: all 0.3s;
  border-color: #ed702d;
  background-color: #ed702d;
}

.accm input:checked ~ div {
  display: block;
}
.accm input ~ div {
  display: none;
}

.accm input {
  visibility: hidden;
}

.accmt {
  background-color: hsl(223, 10%, 14%);
}

.accm input:checked ~ .showaccm span:first-child {
  display: none;
}
.accm input:checked ~ .showaccm span:last-child {
  display: block;
}
.accm input ~ .showaccm span:first-child {
  display: block;
}
.accm input ~ .showaccm span:last-child {
  display: none;
}

.hljs {
  background: transparent !important;
}

.note {
  @apply mt-4 rounded-md border bg-background p-3 text-sm shadow-sm;
}
.note.danger {
  border: 1px solid #e3342f;
  color: #e3342f;
}

.note.info {
  border: 1px solid #3490dc;
  color: #3490dc;
}

.copybtn .copy-btn {
  transform: scale(1);
}
.copybtn .check-btn {
  transform: scale(0);
}
.copybtn:focus .copy-btn {
  transform: scale(0);
}
.copybtn:focus .check-btn {
  transform: scale(1);
}
