code:not([class^="language-"]) {
	@apply rounded bg-gray-100 px-1.5 py-0.5 font-mono text-xs dark:bg-gray-800;
}

.sidebar-item.active,
.sidebar-item:hover {
	color: #ed702d;
}

.w-585px {
	width: 585px;
}

main {
	scroll-behavior: smooth;
}
