/*one is the class for dotted background*/

/*Needed to overlay content on top of dotted bg*/
section {
  position: relative;
  z-index: 1;
}

:root {
  --up-color: #4ead94;
  --down-color: #ca3038;
  --degraded-color: #e6ca61;
}

/*Colors for something UP*/
.bg-api-up {
  background-color: var(--up-color);
}
.text-api-up {
  color: var(--up-color);
}
/*Colors for something DOWN*/
.bg-api-down {
  background-color: var(--down-color);
}
.bg-api-down-10 {
  background: linear-gradient(0deg, var(--down-color) 10%, var(--up-color) 1%);
}
.bg-api-down-20 {
  background: linear-gradient(0deg, var(--down-color) 20%, var(--up-color) 1%);
}
.bg-api-down-40 {
  background: linear-gradient(0deg, var(--down-color) 40%, var(--up-color) 1%);
}
.bg-api-down-60 {
  background: linear-gradient(0deg, var(--down-color) 60%, var(--up-color) 1%);
}
.bg-api-down-80 {
  background: linear-gradient(0deg, var(--down-color) 80%, var(--up-color) 1%);
}
.bg-api-down-90 {
  background: linear-gradient(0deg, var(--down-color) 90%, var(--up-color) 1%);
}
.text-api-down {
  color: var(--down-color);
}
/*Colors for something Not there*/
.bg-api-nodata {
  background-color: #ededed;
}
.text-api-nodata {
  color: #a0a0a0;
}
.dark .bg-api-nodata {
  background-color: rgba(100, 100, 100, 0.4);
}

/*Colors for something degraded*/
.bg-api-degraded {
  background-color: var(--degraded-color);
}
.text-api-degraded {
  color: var(--degraded-color);
}

.bg-api-degraded-10 {
  background: linear-gradient(0deg, var(--degraded-color) 10%, var(--up-color) 1%);
}
.bg-api-degraded-20 {
  background: linear-gradient(0deg, var(--degraded-color) 20%, var(--up-color) 1%);
}
.bg-api-degraded-40 {
  background: linear-gradient(0deg, var(--degraded-color) 40%, var(--up-color) 1%);
}
.bg-api-degraded-60 {
  background: linear-gradient(0deg, var(--degraded-color) 60%, var(--up-color) 1%);
}
.bg-api-degraded-80 {
  background: linear-gradient(0deg, var(--degraded-color) 80%, var(--up-color) 1%);
}
.bg-api-degraded-90 {
  background: linear-gradient(0deg, var(--degraded-color) 90%, var(--up-color) 1%);
}

/*Needed to show markdown properly*/
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
  content: "";
}
.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
  content: "";
}

/*Needed to show monitor stacked properly*/
.monitors-card .monitor {
  padding: 1.2em 3.4em 0.875em 3.4em;
  border-bottom: 1px solid;
  border-color: hsl(var(--border) / var(--tw-border-opacity));
}
@media (max-width: 767px) {
  .monitors-card .monitor {
    padding: 1.2em 1em 0.875em 1em;
  }
}

.monitors-card .monitor:last-child {
  border-bottom: none;
}
.monitors-card.embed .monitor {
  padding: 0em 0.87em 0.875em 0.87em;
  border-bottom: none;
  padding-bottom: 0;
}

/*Tag Color*/
.tag-maintenance {
  background-color: #a076f9;
  color: #09090b;
}
.tag-maintenance-text {
  color: #a076f9;
}
.tag-resolved {
  background-color: #2cd3e1;
  color: #09090b;
}
.tag-resolved-text {
  color: #1fbac8;
}
.tag-indetified {
  background-color: #feffac;
  color: #09090b;
}
.tag-identified-text {
  color: #ddac25;
}
.tag-siren-text {
  color: #dd256f;
}
.daygrid90 {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.daygrid90::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.oneline {
  transition: transform 0.1s ease-in;
  cursor: pointer;
  position: relative;
}
.oneline .oneline-in {
  transition: transform 0.1s ease-in;
}
.oneline:hover .oneline-in {
  transform: scaleY(1.2);
}

.show-hover {
  top: 40px;
  padding: 0px;
  text-align: left;
}

.today-sq + .hiddenx .message {
  position: absolute;
  white-space: nowrap;
}

.today-sq + .hiddenx {
  visibility: hidden;
  z-index: 30;
}
.today-sq:hover + .hiddenx {
  visibility: visible;
}
.today-sq:hover {
  /* transform: scale(1.1); */
  box-shadow:
    rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  opacity: 0.75;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

.today-sq {
  position: relative;
  z-index: 0;
}

.comein {
  animation: comein 1s ease-in-out;
}

@keyframes comein {
  0% {
    bottom: -6px;
  }
  25% {
    bottom: 0px;
  }
  50% {
    bottom: -4px;
  }
  75% {
    bottom: -2px;
  }
  100% {
    bottom: -3px;
  }
}

/* animate wiggle */

.wiggle:hover {
  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  animation-name: wiggle;
  animation-duration: 1000ms;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(10deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(1deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* animate background color between three colors */

@keyframes changeColor {
  0% {
    background-color: #b8bcbe;
  }
  50% {
    background-color: #f1f5f8;
  }
}

.dark .animatebg {
  animation: changeColorDark 2s infinite;
}

@keyframes changeColorDark {
  0% {
    background-color: #333;
  }
  50% {
    background-color: #2d2d2f;
  }
}

.animatebg {
  animation: changeColor 2s infinite;
}

textarea::placeholder {
  color: hsl(219, 14%, 47%);
}
.dark textarea::placeholder {
  color: hsl(0, 0%, 40%);
}

.badge-MONITORING {
  color: #ffaf4d;
}
.badge-INVESTIGATING {
  color: #fe588a;
}

.badge-RESOLVED {
  color: #7aba78;
}
.badge-IDENTIFIED {
  color: #b987f7;
}

.newincidents .newincident:last-child .accor .border-b {
  border-bottom: none !important;
}

.bounce-right:hover .arrow {
  animation: bounceRight 1s;
}

@keyframes bounceRight {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
}
.bounce-left:hover .arrow {
  animation: bounceLeft 1s;
}

@keyframes bounceLeft {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(4px);
  }
  40% {
    transform: translateX(-4px);
  }
  60% {
    transform: translateX(2px);
  }
  80% {
    transform: translateX(-2px);
  }
}

.mesh {
  background-image:
    linear-gradient(
      323deg,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 16.667%,
      rgba(46, 46, 46, 0.01) 16.667%,
      rgba(46, 46, 46, 0.01) 33.334%,
      rgba(226, 226, 226, 0.01) 33.334%,
      rgba(226, 226, 226, 0.01) 50.001000000000005%,
      rgba(159, 159, 159, 0.01) 50.001%,
      rgba(159, 159, 159, 0.01) 66.668%,
      rgba(149, 149, 149, 0.01) 66.668%,
      rgba(149, 149, 149, 0.01) 83.33500000000001%,
      rgba(43, 43, 43, 0.01) 83.335%,
      rgba(43, 43, 43, 0.01) 100.002%
    ),
    linear-gradient(
      346deg,
      rgba(166, 166, 166, 0.03) 0%,
      rgba(166, 166, 166, 0.03) 25%,
      rgba(240, 240, 240, 0.03) 25%,
      rgba(240, 240, 240, 0.03) 50%,
      rgba(121, 121, 121, 0.03) 50%,
      rgba(121, 121, 121, 0.03) 75%,
      rgba(40, 40, 40, 0.03) 75%,
      rgba(40, 40, 40, 0.03) 100%
    ),
    linear-gradient(
      347deg,
      rgba(209, 209, 209, 0.01) 0%,
      rgba(209, 209, 209, 0.01) 25%,
      rgba(22, 22, 22, 0.01) 25%,
      rgba(22, 22, 22, 0.01) 50%,
      rgba(125, 125, 125, 0.01) 50%,
      rgba(125, 125, 125, 0.01) 75%,
      rgba(205, 205, 205, 0.01) 75%,
      rgba(205, 205, 205, 0.01) 100%
    ),
    linear-gradient(
      84deg,
      rgba(195, 195, 195, 0.01) 0%,
      rgba(195, 195, 195, 0.01) 14.286%,
      rgba(64, 64, 64, 0.01) 14.286%,
      rgba(64, 64, 64, 0.01) 28.572%,
      rgba(67, 67, 67, 0.01) 28.572%,
      rgba(67, 67, 67, 0.01) 42.858%,
      rgba(214, 214, 214, 0.01) 42.858%,
      rgba(214, 214, 214, 0.01) 57.144%,
      rgba(45, 45, 45, 0.01) 57.144%,
      rgba(45, 45, 45, 0.01) 71.42999999999999%,
      rgba(47, 47, 47, 0.01) 71.43%,
      rgba(47, 47, 47, 0.01) 85.71600000000001%,
      rgba(172, 172, 172, 0.01) 85.716%,
      rgba(172, 172, 172, 0.01) 100.002%
    ),
    linear-gradient(
      73deg,
      rgba(111, 111, 111, 0.03) 0%,
      rgba(111, 111, 111, 0.03) 16.667%,
      rgba(202, 202, 202, 0.03) 16.667%,
      rgba(202, 202, 202, 0.03) 33.334%,
      rgba(57, 57, 57, 0.03) 33.334%,
      rgba(57, 57, 57, 0.03) 50.001000000000005%,
      rgba(197, 197, 197, 0.03) 50.001%,
      rgba(197, 197, 197, 0.03) 66.668%,
      rgba(97, 97, 97, 0.03) 66.668%,
      rgba(97, 97, 97, 0.03) 83.33500000000001%,
      rgba(56, 56, 56, 0.03) 83.335%,
      rgba(56, 56, 56, 0.03) 100.002%
    ),
    linear-gradient(
      132deg,
      rgba(88, 88, 88, 0.03) 0%,
      rgba(88, 88, 88, 0.03) 20%,
      rgba(249, 249, 249, 0.03) 20%,
      rgba(249, 249, 249, 0.03) 40%,
      rgba(2, 2, 2, 0.03) 40%,
      rgba(2, 2, 2, 0.03) 60%,
      rgba(185, 185, 185, 0.03) 60%,
      rgba(185, 185, 185, 0.03) 80%,
      rgba(196, 196, 196, 0.03) 80%,
      rgba(196, 196, 196, 0.03) 100%
    ),
    linear-gradient(
      142deg,
      rgba(160, 160, 160, 0.03) 0%,
      rgba(160, 160, 160, 0.03) 12.5%,
      rgba(204, 204, 204, 0.03) 12.5%,
      rgba(204, 204, 204, 0.03) 25%,
      rgba(108, 108, 108, 0.03) 25%,
      rgba(108, 108, 108, 0.03) 37.5%,
      rgba(191, 191, 191, 0.03) 37.5%,
      rgba(191, 191, 191, 0.03) 50%,
      rgba(231, 231, 231, 0.03) 50%,
      rgba(231, 231, 231, 0.03) 62.5%,
      rgba(70, 70, 70, 0.03) 62.5%,
      rgba(70, 70, 70, 0.03) 75%,
      rgba(166, 166, 166, 0.03) 75%,
      rgba(166, 166, 166, 0.03) 87.5%,
      rgba(199, 199, 199, 0.03) 87.5%,
      rgba(199, 199, 199, 0.03) 100%
    ),
    linear-gradient(
      238deg,
      rgba(116, 116, 116, 0.02) 0%,
      rgba(116, 116, 116, 0.02) 20%,
      rgba(141, 141, 141, 0.02) 20%,
      rgba(141, 141, 141, 0.02) 40%,
      rgba(152, 152, 152, 0.02) 40%,
      rgba(152, 152, 152, 0.02) 60%,
      rgba(61, 61, 61, 0.02) 60%,
      rgba(61, 61, 61, 0.02) 80%,
      rgba(139, 139, 139, 0.02) 80%,
      rgba(139, 139, 139, 0.02) 100%
    ),
    linear-gradient(
      188deg,
      rgba(227, 227, 227, 0.01) 0%,
      rgba(227, 227, 227, 0.01) 20%,
      rgba(105, 105, 105, 0.01) 20%,
      rgba(105, 105, 105, 0.01) 40%,
      rgba(72, 72, 72, 0.01) 40%,
      rgba(72, 72, 72, 0.01) 60%,
      rgba(33, 33, 33, 0.01) 60%,
      rgba(33, 33, 33, 0.01) 80%,
      rgba(57, 57, 57, 0.01) 80%,
      rgba(57, 57, 57, 0.01) 100%
    ),
    linear-gradient(90deg, hsl(237, 0%, 13%), hsl(237, 0%, 13%));
}

.dark .mesh {
  background-image:
    linear-gradient(
      158deg,
      rgba(84, 84, 84, 0.03) 0%,
      rgba(84, 84, 84, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 20%,
      rgba(219, 219, 219, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 40%,
      rgba(54, 54, 54, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 60%,
      rgba(99, 99, 99, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 80%,
      rgba(92, 92, 92, 0.03) 100%
    ),
    linear-gradient(
      45deg,
      rgba(221, 221, 221, 0.02) 0%,
      rgba(221, 221, 221, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 14.286%,
      rgba(8, 8, 8, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 28.572%,
      rgba(52, 52, 52, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 42.858%,
      rgba(234, 234, 234, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 57.144%,
      rgba(81, 81, 81, 0.02) 71.42999999999999%,
      rgba(239, 239, 239, 0.02) 71.43%,
      rgba(239, 239, 239, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      109deg,
      rgba(33, 33, 33, 0.03) 0%,
      rgba(33, 33, 33, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 12.5%,
      rgba(147, 147, 147, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 25%,
      rgba(131, 131, 131, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 37.5%,
      rgba(151, 151, 151, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 50%,
      rgba(211, 211, 211, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 62.5%,
      rgba(39, 39, 39, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 75%,
      rgba(55, 55, 55, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 87.5%,
      rgba(82, 82, 82, 0.03) 100%
    ),
    linear-gradient(
      348deg,
      rgba(42, 42, 42, 0.02) 0%,
      rgba(42, 42, 42, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 20%,
      rgba(8, 8, 8, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 40%,
      rgba(242, 242, 242, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 60%,
      rgba(42, 42, 42, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 80%,
      rgba(80, 80, 80, 0.02) 100%
    ),
    linear-gradient(
      120deg,
      rgba(106, 106, 106, 0.03) 0%,
      rgba(106, 106, 106, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 14.286%,
      rgba(67, 67, 67, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 28.572%,
      rgba(134, 134, 134, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 42.858%,
      rgba(19, 19, 19, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 57.144%,
      rgba(101, 101, 101, 0.03) 71.42999999999999%,
      rgba(205, 205, 205, 0.03) 71.43%,
      rgba(205, 205, 205, 0.03) 85.71600000000001%,
      rgba(53, 53, 53, 0.03) 85.716%,
      rgba(53, 53, 53, 0.03) 100.002%
    ),
    linear-gradient(
      45deg,
      rgba(214, 214, 214, 0.03) 0%,
      rgba(214, 214, 214, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 16.667%,
      rgba(255, 255, 255, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 33.334%,
      rgba(250, 250, 250, 0.03) 50.001000000000005%,
      rgba(231, 231, 231, 0.03) 50.001%,
      rgba(231, 231, 231, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 66.668%,
      rgba(241, 241, 241, 0.03) 83.33500000000001%,
      rgba(31, 31, 31, 0.03) 83.335%,
      rgba(31, 31, 31, 0.03) 100.002%
    ),
    linear-gradient(
      59deg,
      rgba(224, 224, 224, 0.03) 0%,
      rgba(224, 224, 224, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 12.5%,
      rgba(97, 97, 97, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 25%,
      rgba(143, 143, 143, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 37.5%,
      rgba(110, 110, 110, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 50%,
      rgba(34, 34, 34, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 62.5%,
      rgba(155, 155, 155, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 75%,
      rgba(249, 249, 249, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 87.5%,
      rgba(179, 179, 179, 0.03) 100%
    ),
    linear-gradient(
      241deg,
      rgba(58, 58, 58, 0.02) 0%,
      rgba(58, 58, 58, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 25%,
      rgba(124, 124, 124, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 50%,
      rgba(254, 254, 254, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 75%,
      rgba(52, 52, 52, 0.02) 100%
    ),
    linear-gradient(90deg, #ffffff, #ffffff);
}

/* CSS */
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 10;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image:
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: 0.24;
}

@media (max-width: 767px) {
  .main-content {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.bg-maintenance-in-progress {
  background-color: #f9f3c2;
}

.text-maintenance-in-progress-text {
  color: #ff6868;
}
.text-upcoming-maintenance {
  color: #f0a04b;
}

.text-maintenance-completed {
  color: #6499e9;
}

.rotate-once {
  display: inline-block;
}

.rotate-once:hover {
  animation: rotateOnce 0.2s ease-in forwards;
}

@keyframes rotateOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15deg);
  }
}
.dots-animation::after {
  content: ".";
  animation: dots 1.5s steps(4) infinite;
}

@keyframes dots {
  0% {
    content: ".";
  }
  16% {
    content: "..";
  }
  32% {
    content: "...";
  }
  48% {
    content: "....";
  }
  64% {
    content: "...";
  }
  80% {
    content: "..";
  }
  100% {
    content: ".";
  }
}
.dark {
  --cp-bg-color: hsl(var(--background) / var(--tw-bg-opacity, 1));
  --cp-border-color: hsl(var(--border) / var(--tw-border-opacity));
  --cp-text-color: hsl(var(--card-foreground) / var(--tw-text-opacity, 1));
}

.color-picker .container {
  padding-left: 0px;
  padding-right: 0px;
}
.color-picker .color {
  border: 1px solid hsl(var(--border) / var(--tw-border-opacity));
}
.color-picker button {
  display: none;
}
.color-picker [aria-label="color picker"] input {
  color: hsl(var(--foreground) / var(--tw-border-opacity)) !important;
  background-color: hsl(var(--input) / var(--tw-text-opacity, 1)) !important;
}

.dark .color-picker {
  --cp-bg-color: hsl(var(--background) / var(--tw-bg-opacity, 1));
  --cp-border-color: hsl(var(--border) / var(--tw-border-opacity));
  --cp-text-color: hsl(var(--card-foreground) / var(--tw-text-opacity, 1));
  --cp-input-color: hsl(var(--input) / var(--tw-text-opacity, 1));
  --cp-button-hover-color: hsl(var(--input) / var(--tw-text-opacity, 1));
}
.like-input {
  background-color: rgba(0, 0, 0, 0.02) !important;
}
.dark .like-input {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.ͼo .cm-gutters {
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.no-gutter .ͼo .cm-gutters {
  display: none;
}
.kener-md {
  @apply text-sm;
}
p code:not([class^="language-"]) {
  @apply rounded-sm bg-yellow-100 px-1 py-0.5 font-mono text-xs dark:bg-neutral-700  dark:text-neutral-100;
}

.kener-theme-mono .section-hero .h1,
.kener-theme-mono-hero-h1 {
  @apply text-foreground;
}

.kener-theme-default .section-hero .h1,
.kener-theme-default-hero-h1 {
  @apply bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-transparent;
}
.kener-theme-sunset .section-hero .h1,
.kener-theme-sunset-hero-h1 {
  @apply bg-gradient-to-r from-yellow-500 via-red-500 to-pink-500 bg-clip-text text-transparent;
}
.kener-theme-forest .section-hero .h1,
.kener-theme-forest-hero-h1 {
  @apply bg-gradient-to-l from-blue-500 via-teal-500 to-green-500 bg-clip-text text-transparent;
}
.kener-theme-ocean .section-hero .h1,
.kener-theme-ocean-hero-h1 {
  @apply bg-gradient-to-l from-cyan-500 via-blue-500 to-indigo-500 bg-clip-text text-transparent;
}

.prose :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}
