.tabs [data-state="active"] {
	border-color: orange;
}
.copybtn .copy-btn {
	transform: scale(1);
}
.copybtn .check-btn {
	transform: scale(0);
}
.copybtn:focus .copy-btn {
	transform: scale(0);
}
.copybtn:focus .check-btn {
	transform: scale(1);
}

input,
[data-bits-select-trigger],
textarea {
	background-color: rgba(0, 0, 0, 0.02) !important;
}
.dark input,
.dark [data-bits-select-trigger],
.dark textarea {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

input[type="file"]::file-selector-button {
	display: none;
}
input[type="file"] {
	font-weight: 500;
	padding-top: 10px;
}

.image-upload .has-bg:hover .invisible {
	visibility: visible !important;
}
